/** @format */

@import 'variables.scss';

.chatInput {
  width: 100%;

  &__container {
    width: 80%;
    height: 7rem;

    position: fixed;
    bottom: 0;
    margin-left: 1rem;
    padding-top: 1rem;
    background-color: $color-blue-dark;
  }

  form {
    position: relative;

    input {
      // width: 95%;
      width: 100%;
      border: 1px solid $color-grey-medium;
      border-radius: 3px;
      padding: 1rem;
      background-color: $color-blue-medium;
      color: $color-white;
    }

    input:focus {
      outline: none;
    }

    button {
      width: 5%;
      padding: 0.7rem;
      padding-top: 1rem;
      border: none;
      background-color: transparent;
      position: absolute;
      transform: translateX(-6rem);
      color: $color-white;
      cursor: pointer;

      &:hover {
        color: orange;
      }
    }
  }
}

.sendBtn {
  font-size: 2rem !important;
}
