/** @format */

@import 'variables.scss';

.message {
  display: flex;
  align-items: center;
  color: $color-white;
  font-size: 1.5rem;
  padding: 2rem;

  img {
    height: 5rem;
    width: 5rem;
    // object-fit: contain;
    border-radius: 50%;
  }

  &__info {
    padding-left: 2rem;
    width: 100%;

    display: flex;
    flex-direction: column;

    &--top {
      display: flex;

      h4 {
        flex: 1;
      }
    }

    &--bottom {
      p span {
        margin-left: 2rem;
        color: $color-grey-light;
        font-size: 1.2rem;
      }
    }
  }

  &__timestamp {
    color: $color-grey-light;
    font-weight: 300;
    font-size: 1.2rem;
    padding-left: 1rem;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editChatInput {
  width: 60vw;
  height: 20vh;
  background-color: orange;

  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    // width: 100%;
    // height: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-weight: 400;
      text-align: center;
      margin-bottom: 2rem;
    }

    input {
      width: 40rem;
      height: 3rem;
      padding: 1rem;
    }

    button {
      padding: 0.6rem 2rem;
      margin-left: 0.5rem;

      &:hover {
        opacity: 0.9;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

.mui-icon {
  font-size: 2rem !important;
  margin-left: 1.3rem;
  background-color: transparent;
  border: none;
  color: $color-white;
  cursor: pointer;

  &:hover {
    border-radius: 4rem;
    color: orange;
  }
}
