/** @format */

@import 'variables.scss';
@import 'mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

.message {
  display: flex;
  align-items: center;
  color: $color-white;
  font-size: 1.5rem;
  padding: 1rem 5rem 1rem 1.5rem;

  // position: relative;

  img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    align-items: flex-start;
  }

  &__info {
    padding-left: 2rem;
    width: 100%;

    display: flex;
    flex-direction: column;

    &--top {
      display: flex;

      h4 {
        flex: 1;
        font-family: 'Dongle', sans-serif;
      }
    }

    &--bottom {
      p {
        padding-right: 5rem;
        // font-family: 'Dongle', sans-serif;
        // font-weight: 300;
        // font-size: 2.5rem;
        // line-height: 2rem;
      }
      span {
        margin-left: 2rem;
        color: $color-grey-light;
        font-size: 1.2rem;
      }
    }
  }

  &__userName {
    font-size: 2rem;
    letter-spacing: 0.3px;
  }

  &__timestamp {
    color: $color-grey-light;
    font-weight: 300;
    font-size: 1.5rem;
    padding-left: 1rem;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editChatInput {
  width: 60vw;
  max-width: 72rem;
  height: 20vh;
  background-color: orange;
  border-radius: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    @include center;

    h1 {
      font-weight: 400;
      text-align: center;
      margin-bottom: 2rem;
    }

    input {
      width: 40rem;
      height: 3rem;
      padding: 1rem;
      border: none;
      border-radius: 0.5rem;

      &:focus {
        outline: none;
      }
    }

    button {
      padding: 0.75rem 2rem;
      margin-left: 0.5rem;
      border-radius: 0.5rem;
      border: none;
      cursor: pointer;
      background-color: $color-blue-dark;
      color: $color-white;
      transition: all 1s;

      &:hover {
        background-color: crimson;
        // color: $color-blue-dark;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

.mui-icon {
  font-size: 1.5rem !important;
  margin-left: 1.3rem;
  background-color: transparent;
  border: none;
  color: $color-grey-medium;
  cursor: pointer;

  &:hover {
    border-radius: 4rem;
    color: orange;
  }
}

@media (min-width: 450px) and (max-width: 800px) {
  .editChatInput {
    &__container {
      width: 100%;

      form {
        width: 80%;
        @include center-column;
      }

      input {
        width: 100%;
      }

      button {
        margin-top: 1rem;
        margin-left: 0;
        width: 24rem;
      }
    }
  }
}
