/** @format */

@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

.sidebar {
  background-color: $color-blue-dark;
  color: $color-white;
  margin-left: 3rem;

  flex: 0.3;
  max-width: 26rem;
  font-size: 18px;

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0.5px solid $color-grey-medium;
  }

  &__header {
    padding: 1.3rem;
    min-width: 21rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 2rem;
      margin-bottom: 5px;
      font-weight: 400;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 400;

      display: flex;
      align-items: center;
      > .MuiSvgIcon-root {
        color: $color-green;
        margin-right: 0.5rem;
      }
    }

    > .MuiSvgIcon-root {
      padding: 8px;
      color: $color-blue-dark;
      font-size: 3.5rem;
      background-color: $color-white;
      border-radius: 50%;
    }
  }

  &__avatar {
    height: 5rem !important;
    width: 5rem !important;
    object-fit: cover;
  }

  &__info {
    flex: 1;
    margin-left: 2.5rem;

    h2 {
      font-family: 'Fredoka One', cursive;
    }
  }

  &__add-channel {
    margin-top: 2rem;
    margin-left: 2rem;

    &--btn {
      background-color: white;
      border-radius: 5rem;
      padding: 0.5rem 2rem 0.5rem 1rem;
      border: none;
      color: $color-blue-dark;
      cursor: pointer;
      font-family: 'Fredoka One', cursive;

      &:hover {
        background-color: rgb(198, 198, 196);
      }

      &:active {
        transform: scale(0.95);
      }

      strong {
        font-size: 1.5rem;
      }
    }
  }
  &__list {
    margin-top: 2rem;
    // margin-left: 2rem;
  }
}
