/** @format */

$color-white: white;
$color-red: red;
$color-green: #0a8d48;
$color-blue-dark: #082032;
$color-blue-medium: #0e273a;
$color-grey-medium: #334756;
$color-grey-light: rgb(235, 234, 234);

$border-section: 2px solid $color-grey-medium;
