/** @format */

$color-white: white;

$color-grey-light: rgb(235, 234, 234);
$color-grey-medium: #c4c6c8;
$color-grey-dark: #334756;

$color-red: red;
$color-green: #0a8d48;

$color-blue-dark: #082032;
$color-blue-medium: #182935;

$border-section: 2px solid $color-grey-medium;
